<div class="card_parent" style="height:591px;">
    <img src="assets/customer.jpg" />
    <div class="card">
        <div class="whyus">
            <h2 style="color: pink">Why Us?</h2>
            <p>We offer the best services to track employee work timings,attendence,employee performance in the form
                of Pie-Chart, Excel sheet, Bar Graph etc.</p>
        </div>
        <h2 class="customer_text">REVIEWS FROM OUR CUSTOMERS :</h2>
        <div class="card-body">
            <div class="content">
                <h4>ZOHO</h4>
                <p>They offer the best services in market track employee work timings,attendence,employee
                    performance
                    in the form of Pie-Chart, Excel sheet, Bar Graph etc.</p>
                <h4>WIPRO</h4>
                <p>They offer the best services in market to track employee work timings,attendence,employee
                    performance</p>
                <h4>Accenture</h4>
                <p>They offer the best services in market to track attendence,employee
                    performance
                    in the form
                    of Pie-Chart, Excel sheet, Bar Graph etc.</p>
                <h4>Capgemini</h4>
                <p>They offer the best services in market to track employee work timings,employee
                    performance
                    in the form
                    of Pie-Chart, Excel sheet, Bar Graph etc.</p>
            </div>
        </div>
    </div>
</div>