<div class="card_parent" style="height:591px;">
    <div class="card" style="left: 10cm;">
        <div class="card-body">
            <div class="flex_body">
                <div class="header" style="background-color: rgba(5, 130, 130, 0.2);">Basic Plan</div>
                <div class="content">
                    <ul>
                        <li>
                            Employee Management
                        </li>
                        <li>
                            Employee Analytics
                        </li>
                        <li>
                            Leave Management
                        </li>
                        <li>
                            Employee Performance
                        </li>
                        <li>
                            Payroll and tax filing.
                        </li>
                        <li>
                            HR support
                        </li>
                    </ul>
                </div>
                <div class="price">$ 500</div>
            </div>
        </div>
    </div>
    <div class="card" style="height:500px;top: 25px;left: 17cm;">
        <div class="card-body" style="box-shadow: 0px 0px 9px 9px grey;">
            <div class="flex_body">
                <div class="header" style="background-color: rgba(5, 10, 140, 0.2);">Standard Plan</div>
                <div class="content">
                    <ul>
                        <li>
                            Employee Management
                        </li>
                        <li>
                            Employee Analytics
                        </li>
                        <li>
                            Leave Management
                        </li>
                        <li>
                            Employee Performance
                        </li>
                        <li>
                            Payroll and tax filing.
                        </li>
                        <li>
                            HR support
                        </li>
                        <li>
                            Work Time Tracking
                        </li>
                    </ul>
                </div>
                <div class="price">$ 1000</div>
            </div>
        </div>
    </div>
    <div class="card" style="left: 24cm;">
        <div class="card-body">
            <div class="flex_body">
                <div class="header" style="background-color: rgba(250, 62, 250, 0.2);">Premium Plan</div>
                <div class="content">
                    <ul style="padding-top: 0px;">
                        <li>
                            Employee Management
                        </li>
                        <li>
                            Employee Analytics
                        </li>
                        <li>
                            Leave Management
                        </li>
                        <li>
                            Employee Performance
                        </li>
                        <li>
                            Payroll and tax filing.
                        </li>
                        <li>
                            HR support
                        </li>
                        <li>
                            Work Time Tracking
                        </li>
                        <li>
                            Custom access levels
                        </li>
                        <li>
                            Report Generation
                        </li>
                    </ul>
                </div>
                <div class="price" style="padding-top: 10px;">$ 1200</div>
            </div>
        </div>
    </div>
</div>