<div class="container-fluid" style="height:591px;">
    <img src="assets/emsbg1.jpg" class="img-fluid" alt="Responsive image">
    <div class="textarea">
        <h1 class="text">One Stop Solution for all enterprises !</h1>
        <h3 class="text">Track your employee activities and analytics with our world's best analytics system.We
            provide data in
            form of Pie-Chart, Excel sheet, Bar Graph etc.</h3>
        <a class="btn btn-primary" href="dashboard">Show Demo dashboard</a>
    </div>
</div>