<div id="container">
    <div id="about">
        <h1>About Us</h1>
        <div>Here's our little story,</div>
        In December 2015, On a winter day we were walking around the garden area speaking about our little tea shop
        business that we have started 6 months ago after completion of our MBA. We
        very often faced a situation were many of our employees were taking leave without prior information. Since we
        don't have any attendence system or tracking system we couldn't properly track them.So we paid them full salary.
        That's when we decided to build a small system to track our employers leave and manage them to pay the right
        salary. Yay ! And that's how our "EMS ENTERPRISES" is born. Started as an small website we developed it into a
        complete system that has ability to track employee attendence, work timings, employee performance and
        many.Finally we decided to quit our little tea shop and become a full time developers for our system. We
        successfully launched it and companies started using it.Within 3 years we statred getting good response from our
        customers and many companies were knocking at our doors.Now, after 7 years of service we became one of the top
        employee management system in the world
    </div>
    <div id="tandc">
        <h1>Terms and Conditions</h1>
        <h6>1. Introduction</h6>
        1.1 These terms and conditions of employment apply to all staff and should be read in conjunction with the
        particular terms that are appended to this agreement (and form part of this agreement) and personalised offer
        letters which give further details relating to employment, including job title, grade, rate of pay, hours of
        work and date of commencement of duties including continuous employment date.
        <h6>2. Job description</h6>
        2.1 All staff should have a job description for their post which will be provided on joining the University. Job
        descriptions will not be regarded as precise or exhaustive specifications of duties and responsibilities but as
        a guide to accountabilities associated with the role. Staff will also carry out such additional or alternative
        tasks as the University may from time to time reasonably require, and be required to participate in any training
        deemed necessary by the University to properly perform their duties.
        <h6>3. Continuous employment</h6>
        3.1 Any previous periods of employment with the University, or a previous employer e.g. NHS Trusts, which are to
        be included in the period of continuous service, will be referred to in personalised offer letters.
        3.2 For staff transferring directly from another university within the European Economic Area, previous service
        will be recognised by the University for the purpose of calculating maternity benefit. For all other contractual
        and statutory purposes, the period of continuous employment for statutory purposes will begin on their start
        date with the University of Bristol.
        <h6>4. Salary</h6>
        4.1 Basic salary accrues from day to day and is payable monthly by credit transfer into a member of staff’s
        nominated bank/building society account normally on 26th day of each calendar month, subject to the deduction of
        tax, national insurance and any other agreed or lawfully required deductions, including the deduction of pension
        contributions where appropriate.
        4.2 The University operates a Pension Salary Exchange scheme for eligible staff in the University of Bristol
        Group Pension Plan (UBGPP), University of Bristol Pension Scheme (UBPAS) and Universities Superannuation Scheme
        (USS). Under the rules of the Pension Salary Exchange scheme, who become members of UBGPP, UBPAS and USS, and
        who are eligible to participate in Pension Salary Exchange, will be automatically enrolled in the arrangements
        unless they opt out. Please refer to the Pension Salary Exchange Scheme at
        http://www.bris.ac.uk/hr/salaries/sal-exchange/ for further information. Where staff are in the Pension Salary
        Exchange scheme, the University will use the term “Reference Pay” to mean basic salary before taking account of
        any Pension Salary Exchange. Where staff are entitled to additional pay for overtime working, shift allowances,
        on-call, or similar pay supplements, these will be calculated on the basis of Reference Pay.
        4.3 The University’s Pay Spine is reviewed annually, and any changes will normally take effect from 1 August of
        each calendar year.
        4.4 With the exception Associate Professors and Grade M staff, all other staff will progress annually on the
        relevant incremental date to the top service increment point on their grade, except where unsatisfactory
        performance has already been established through the operation of the Capability Procedure.
        4.5 Associate Professors and Grade M staff will not be eligible for annual incremental progression, but rather,
        incremental progression will be determined on the basis of personal performance.
        <h6>5. Deductions</h6>
        5.1 In accordance with the Employment Rights Act 1996, the University is authorised to deduct from a member of
        staff’s remuneration, any sums that are due from them including any overpayments, loans or advances made to them
        by the University and any overpayments in respect of annual leave taken in excess of a member of staff’s
        entitlement. No deductions will be made without prior notification to the individual.
        <h6>6. Place of work</h6>
        6.1 A member of staff’s normal place of work will be such sites of the University and associated NHS Trusts as
        are requested, but the University reserves the right to require staff to work temporarily or permanently at such
        other place of work or location as the University may reasonably require. In the course of a member of staff’s
        duties they may also be required to travel throughout the UK and overseas.
    </div>
    <div id="contactus">
        <h1>Contact Us</h1>
        <h4>Stuck anywhere ? Don't worry ! You can contact us through any one of the details given below.</h4>
        <div>Email: emsenterprises@gmail.com</div>
        <div>Phone: 042-242-3531</div>
        <div>Address: 103/36, Main Road, ABC Street, French Colony, Delhi</div>
    </div>
</div>