#about {
    font-size: 16px;
    padding: 10px;
}

#contactus {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}

#tandc {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}

#container {
    width: 101%;
    padding: 60px;
    padding-top: 20px;
}

h6 {
    padding-top: 5px;
}