<nav class="navbar navbar-expand-lg bg-primary footer">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="about" aria-current="page" href="/about#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact" aria-current="page" href="/about#contactus">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tandc" aria-current="page" href="/about#tandc">Terms and
                        Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>